In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Reading and investigating the data

In [2]:
data = pd.read_csv('bankdata.csv')

In [3]:
data.shape

(74364, 9)

In [4]:
data.dtypes

type             object
operation        object
amount_total    float64
balance         float64
k_symbol         object
amount_left       int64
duration          int64
payments        float64
status           object
dtype: object

In [5]:
data.head()

,type,operation,amount_total,balance,k_symbol,amount_left,duration,payments,status
0,PRIJEM,prevod,44749.0,45549.0,unknown,79608,24,3317.0,A
1,PRIJEM,vklad,1000.0,1000.0,unknown,52788,12,4399.0,A
2,PRIJEM,vklad,1100.0,1100.0,unknown,21924,36,609.0,A
3,PRIJEM,vklad,700.0,700.0,unknown,23052,12,1921.0,A
4,PRIJEM,vklad,900.0,900.0,unknown,41904,12,3492.0,A

In [7]:
data["status"].value_counts()

A    64599
B     9765
Name: status, dtype: int64

### Investigating the numerical variables

In [8]:
data.describe()

       amount_total        balance    amount_left      duration      payments
count  74364.000000   74364.000000   74364.000000  74364.000000  74364.000000
mean    7832.649125   46022.153061  102745.132645     23.942230   4356.580832
std    11729.040391   25439.948570   74749.275498     12.155783   2205.840892
min        0.000000  -14137.200000    4980.000000     12.000000    319.000000
25%      144.300000   27675.125000   46320.000000     12.000000   2569.000000
50%     3000.000000   40965.150000   86184.000000     24.000000   4051.000000
75%     9868.500000   60098.550000  140400.000000     36.000000   6315.000000
max    87300.000000  193910.000000  464520.000000     60.000000   9736.000000

#### Investigating variable duration

In [ ]:
data['duration'].value_counts()

In [ ]:
# we will convert this to a categorical
data['duration'] = data['duration'].apply(str)

In [ ]:
# Checking for multicollinearity
plt.figure(figsize=(10, 8))
ax = sns.heatmap(data.corr(), annot=True)
plt.show()

payments and amount_left have a rather high correlation, so we will include only one of them in the model

In [ ]:
#sns.distplot(data['t_amount'])
#plt.show()

sns.distplot(data['balance'])
plt.show()

#sns.distplot(data['payments'])
#plt.show()

### Preprocessing the numerical variables

In [ ]:
from sklearn.preprocessing import StandardScaler
data_num = data.select_dtypes(include = np.number).drop(columns = 'amount_left')
print(data_num.head())
# Normalizing data
transformer = StandardScaler().fit(data_num)
data_num_standardized = transformer.transform(data_num)
x = pd.DataFrame(data_num_standardized, columns = data_num.columns)
print(x.head())

In [ ]:
sns.distplot(data['balance'])
plt.show()

In [ ]:
sns.distplot(x['balance'])
plt.show()

### Getting dummies for the categorical variables

In [ ]:
from sklearn.preprocessing import OneHotEncoder
cat = data.select_dtypes(include = np.object).drop(columns = 'status')
enc = OneHotEncoder()
categorical = pd.DataFrame(enc.fit_transform(cat).toarray(), columns = enc.get_feature_names())
categorical.head()

In [ ]:
categorical.sum(axis = 1)

In [ ]:
y = data['status']
X = pd.concat((x, categorical), axis=1)

#### Splitting into train and test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)

### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
logisticr = LogisticRegression(max_iter = 500).fit(X_train, y_train)

In [ ]:
predictions = logisticr.predict(X_test)
logisticr.score(X_test, y_test)

In [ ]:
print(y_test.value_counts())

In [ ]:
pd.Series(predictions).value_counts()

What happened in terms of the classes?

### Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
decisiontree = DecisionTreeClassifier().fit(X_train, y_train)

In [ ]:
predictions = decisiontree.predict(X_test)
decisiontree.score(X_test, y_test)

In [ ]:
pd.Series(predictions).value_counts()

In [ ]:
decisiontree.feature_importances_

In [ ]:
print(dict(zip(X.columns, decisiontree.feature_importances_)))

In [ ]:
plt.rcParams['figure.figsize'] = [25, 6]
plt.bar(height = decisiontree.feature_importances_, x = X.columns)
plt.show()