## Introduction to Pandas

#### Importing and using the package

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd?

#### Data Structure 1: Series

In [3]:
# What is difference array, range and arrange?
# Wichtig bei DataFrames and Series, dass Capital Letters verwendet werden
print(np.arange(10))

[0 1 2 3 4 5 6 7 8 9]

In [152]:
a = pd.Series(np.random.random(10))

print(a)

0    0.346133
1    0.797978
2    0.761719
3    0.478788
4    0.849617
5    0.887745
6    0.977799
7    0.405978
8    0.401578
9    0.991548
dtype: float64

In [153]:
print(a *10)

0    3.461333
1    7.979777
2    7.617191
3    4.787882
4    8.496171
5    8.877455
6    9.777988
7    4.059777
8    4.015781
9    9.915475
dtype: float64

#### Accessing elements in a DataFrame

In [154]:
a[5]

0.8877454852683951

In [4]:
b = pd.Series(np.arange(10), index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(b)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32

In [5]:
print(b[5])
print(b['f'])

5
5

In [6]:
mydict = {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}
pd.Series(mydict)

a    0
b    1
c    2
d    3
e    4
dtype: int64

#### Data Structure 2: DataFrames

In [7]:
df_ser = pd.DataFrame(np.arange(10))
print(df_ser)

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [16]:
np.random.random((10, 10))
df = pd.DataFrame(np.random.random((10, 10)))
print(df)

          0         1         2         3         4         5         6  \
0  0.010503  0.937775  0.465391  0.759912  0.751837  0.494582  0.474834
1  0.347919  0.631868  0.105148  0.171143  0.154200  0.395066  0.757152
2  0.702860  0.056684  0.811582  0.592290  0.293072  0.274131  0.387788
3  0.437114  0.027501  0.709040  0.723043  0.935688  0.159956  0.400542
4  0.387189  0.199233  0.437436  0.366952  0.721326  0.428318  0.580871
5  0.157987  0.855157  0.396135  0.634960  0.879431  0.520906  0.842058
6  0.869539  0.775150  0.245285  0.225562  0.875027  0.650517  0.978925
7  0.643667  0.225001  0.462934  0.026638  0.937893  0.636770  0.405434
8  0.421825  0.323465  0.761871  0.205004  0.925810  0.238121  0.671001
9  0.540423  0.367645  0.562413  0.987353  0.550516  0.685176  0.097819

          7         8         9
0  0.259423  0.699204  0.659913
1  0.139778  0.594057  0.127636
2  0.700742  0.398454  0.145568
3  0.011769  0.768072  0.215289
4  0.539865  0.325426  0.292735
5  0.772973  0.260920  0.730649
6  0.709240  0.656526  0.802512
7  0.364492  0.172975  0.885785
8  0.013595  0.793898  0.151121
9  0.872721  0.664108  0.491332

In [18]:
#print(df.columns)
print(df[1])
# Was macht df.columns? Gibt alle Spalten wieder

0    0.937775
1    0.631868
2    0.056684
3    0.027501
4    0.199233
5    0.855157
6    0.775150
7    0.225001
8    0.323465
9    0.367645
Name: 1, dtype: float64

#### Using Column Names

In [161]:
colnames = ['Apple', 'Banana', 'Dog', 'Column3', 'Column4', 'Column5', 'Column6', 'Column7', 'Column8', 'Column9']

In [162]:
df_col = pd.DataFrame(np.random.random((10, 10)), columns=colnames)
print(df_col)
#Erst Liste mit Colnames definieren und anschlie√üend cllumns als variable um diese zu definieren

      Apple    Banana       Dog   Column3   Column4   Column5   Column6  \
0  0.892246  0.256770  0.432921  0.750459  0.079918  0.854299  0.346827
1  0.521102  0.404983  0.589741  0.508616  0.673042  0.521756  0.269122
2  0.233658  0.320110  0.476703  0.018488  0.156361  0.969052  0.796124
3  0.148347  0.202239  0.251320  0.509947  0.863439  0.090418  0.347524
4  0.138513  0.579799  0.346740  0.895475  0.917741  0.214882  0.476842
5  0.008062  0.388985  0.965170  0.324583  0.969800  0.169117  0.360348
6  0.668599  0.742115  0.512902  0.210390  0.462461  0.400269  0.924729
7  0.404450  0.181880  0.504973  0.666939  0.869564  0.552127  0.143134
8  0.952894  0.104806  0.581307  0.673884  0.398890  0.746759  0.659107
9  0.324680  0.564644  0.129679  0.691449  0.124589  0.340759  0.028648

    Column7   Column8   Column9
0  0.337535  0.733914  0.607870
1  0.902213  0.541489  0.716684
2  0.940292  0.452019  0.567833
3  0.258797  0.149091  0.965126
4  0.734257  0.998288  0.587311
5  0.305695  0.945466  0.151928
6  0.778438  0.715573  0.924678
7  0.883804  0.742215  0.493872
8  0.691952  0.653811  0.417676
9  0.980458  0.063459  0.382132

In [163]:
df_col.head()
df_col.head(3)
df_col.tail()

,Apple,Banana,Dog,Column3,Column4,Column5,Column6,Column7,Column8,Column9
5,0.008062,0.388985,0.965170,0.324583,0.969800,0.169117,0.360348,0.305695,0.945466,0.151928
6,0.668599,0.742115,0.512902,0.210390,0.462461,0.400269,0.924729,0.778438,0.715573,0.924678
7,0.404450,0.181880,0.504973,0.666939,0.869564,0.552127,0.143134,0.883804,0.742215,0.493872
8,0.952894,0.104806,0.581307,0.673884,0.398890,0.746759,0.659107,0.691952,0.653811,0.417676
9,0.324680,0.564644,0.129679,0.691449,0.124589,0.340759,0.028648,0.980458,0.063459,0.382132

#### Converting other structures to DataFrames

In [164]:
mylist = [4, 5, 6, 7, 8]
pd.DataFrame(mylist, columns = ["mycolumn"])

   mycolumn
0         4
1         5
2         6
3         7
4         8

In [2]:
mydict={"Breed": ["Cat", "Dog", "GuineaPig"], "Name": ["Meowy", "Bello", "Carmen"]}
pd.DataFrame(mydict)

       Breed    Name
0        Cat   Meowy
1        Dog   Bello
2  GuineaPig  Carmen

In [6]:
print(pd.DataFrame.from_dict(mydict, orient='columns'))
#print(pd.DataFrame.from_dict(mydict, orient='index'))

       Breed    Name
0        Cat   Meowy
1        Dog   Bello
2  GuineaPig  Carmen

In [5]:
pd.DataFrame.from_dict?
#formel um aus data dict ein dataframe zu machen

#### Applying functions to DataFrames

In [168]:
# taking the mean of each column
df_col.mean()
df_col.mean(axis=0)

Apple      0.429255
Banana     0.374633
Dog        0.479146
Column3    0.525023
Column4    0.551580
Column5    0.485944
Column6    0.435240
Column7    0.681344
Column8    0.599532
Column9    0.581511
dtype: float64

In [169]:
# taking the mean of each row
df_col.mean(axis=1)

0    0.529276
1    0.564875
2    0.493064
3    0.378625
4    0.588985
5    0.458915
6    0.634015
7    0.544296
8    0.588109
9    0.363050
dtype: float64

In [ ]:
# Frage:was nun genau der unterschied zwischen index und reihe?
#A: N√§chstes Lab als Antwort
# Kann ich auch f√ºr colmun nummer index nutzen?
#A: Using loc and iloc
#Frage: was kann df.columns?
#A: df.columns = ["colnames"] to redefine colnames after list of columnames has been created before
# Frage: What is difference array, range and arrange?
#Antwort: https://realpython.com/how-to-use-numpy-arange/#:~:text=The%20main%20difference%20between%20the,using%20the%20Python%20for%20loop.