# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [1]:
def modify_list(lst, lmbda):
    """
    Input: list and lambda expression
    
    Output: the transformed list
    """
    
    #your code here:

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0°C + 273.15 = 273.15K

In [3]:
# Your code here:

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [4]:
temps = [12, 23, 38, -55, 24]

# Your code here:

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [5]:
# Your code here:

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [6]:
def divisor(b):
    """
    input: a number
    output: a function that returns 1 if the number is divisible by another number (to be passed later) and zero otherwise
    """
    
    # Your code here:

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [7]:
# Your code here:

Test your function with the following test cases:

In [ ]:
divisible5(10)

In [ ]:
divisible5(8)

# Challenge 2 - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

In [10]:
# Here is an example of passing one list to the zip function. 
# Since the zip function returns an iterator, we need to evaluate the iterator by using a list comprehension.

l = [1,2,3,4,5]
[x for x in zip(l)]

[(1,), (2,), (3,), (4,), (5,)]

Using the `zip` function, let's iterate through two lists and add the elements by position. Here is an example using a list comprehension.

In [11]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

#Your code here:

# Challenge 3 - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [12]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

# Your code here:

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [13]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

# Your code here:

In [ ]:
#lambda expression that adds 5 to number
#giving it a name
plus_five = lambda x: 5+x
plus_five(2)

In [ ]:
# running without name
(lambda x: x+5)(2)

In [ ]:
#adds two inputs
def add_function (x,y):
    return x+y

add_function (5,2)
add_function () --> funktioniert nur mit einem Wert, wenn vorher Default in Funktion definiert wurde,

In [ ]:
#Frage zuvor mit lambda lösen
add_lambda = lambda x,y: x+y
add-lambda (5,2)

#oder
(lambda x,y: x+y)(5,2)

In [3]:
# return max of two numbers
# also other way around possible
#like list comprehension output comes first in expression, afterwords the condition
return_max = lambda x, y: y if x<y else x
return_max = (5,7)
# lambda functions are there for do one operation in one code of line
# can be applied to DataStrctures

In [4]:
#if statement
#write a function which gives out the number if it is even and 0 otherwise
def even_zero_funtion (x):
    if x%2==0:
        return x
    else:
        return 0
even_zero_function(4) 
# when using print instead of return in function, i can use function golabally and it works ( x= even_zero_function ()) 
#but can not use print (x) outside
# print then does return none as fucntion returns nothing when using print inside
# usually no print inside a function

NameError: name 'even_zero_function' is not defined

In [5]:
# now same with lambda
even_zero_function = lambda x: x if x%2==0 elso 0
even_zero:funtion (4)
(lambda x: x if x%2==0 elso 0)(4)

In [ ]:
#lambda functions and list comprehensions
#now give every item in mylist divided by 2
mylist = [1,2,3,4,5,6,7,8,9,10]
#list comprehension
[x/2 for x in mylist]
#with lambda
#lambda in our list comprehension
#we use lambda to apply sth to every item in my list, one by one
[(lambda x: x/2)(x)for x in mylist]

In [ ]:
#print out a list based on mylist and replace the odd numbers by zero
[(lambda x: x if x%2==0 elso 0)(x) for x in mylist]

In [ ]:
Lambdas as Arguments in Functions
misters = ["MisterE", "MisterB", "MisterD", "MisterF"]
#sort, uses keys as second argument --> can use lambda as key
sorted(misters, reverse=True)
# last letter of each string with lambda
last_lambda = lambda x: x[-1]
#now with lambda i could sort by last letter of each string
sorted(misters, key=last_lambda)
#power of lambda, by complex sorting uses lambda as a key for example

In [ ]:
List_tuples = [("eggs", 1),("apples", 2),("carrots", 1),("beetroot", 5)]
#lambda fo second letter of first elemnt in tuple
second_letter = lambda x: x[0][1]
#lambda second letter of each string for sorting
sorted (list_tuples, key=second_letter)

In [ ]:
Sort the following list of dicts by the key year
cars = [{"model": "Audi", "year":}]

In [ ]:
um 19:43 for real use before map, reduce etc

In [17]:
#Challenge zero:
#Create a lambda function which takes a number as an input and outputs its square. 
#Apply the function to the numbers 5, 10 and 15.

(lambda x,y,z: x*2, y*2, z*2)(5,10,15)

<>:5: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:5: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<ipython-input-17-e895748d10be>:5: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x,y,z: x*2, y*2, z*2)(5,10,15)

NameError: name 'y' is not defined

In [14]:
#Write a list comprehension which outputs a list of the numbers from 10 - 20, 
#each multiplied by a factor of 8. Use a lambda expression to accomplish this
[(lambda x: 8*x) (x) for x in range(10,21)]

[80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160]

In [16]:
#Create a list of 10 people named "Person 0" to "Person 9". 
#Then sort the list by the number in their name, in reverse order.

people = ["Person1", "Person2", "Person3","Person4", "Person5","Person6","Person7","Person8","Person9","Person0"]
last_lambda = lambda x: x[-1]
sorted(people, key=last_lambda, reverse=True)

['Person9',
 'Person8',
 'Person7',
 'Person6',
 'Person5',
 'Person4',
 'Person3',
 'Person2',
 'Person1',
 'Person0']